.login-wrp.forgot-pw h1 {
    text-align: left;
    margin-bottom: 8px;
    color: var(--btn-clr);
}
.login-wrp.forgot-pw p {
    margin: 8px 0 25px;
    color: var(--gray-7c);
    font: var(--h4);
    line-height: 1.3;
}
.login-wrp.forgot-pw label{
    width: 100%;
}
.login-wrp.forgot-pw .forgot-email {
    border-radius: 10px;
    background-color: var(--white);
    height: 60px;
    width: 100%;
    position: relative;
}
.login-wrp.forgot-pw .btn {
    position: absolute;
    top: 50%;
    right: 5px;
    padding: 17.5px 28px;
    width: auto;
    transform: translateY(-50%);
}
.login-wrp.forgot-pw .login-form input {
    height: 60px;
    width: calc(100% - 115px);
}
.login-wrp.forgot-pw .sign-up h5 {
    text-align: right;
   
}