.job-position .table-wrapper table  th {
    width: 75%;
}
.main-table-content .nice-select-wrap ul {
    background-color: #efeffa;
    border-radius: 12px;
    margin: 7px 0 !important;
    position: relative;
    z-index: 2;
}