.reset-pw{
    background-color: #FAFAFE;

}
.reset-pw .login-form {
    max-width: 505px;
    width: 100%;
    background-color: transparent;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5%;
}
.reset-pw .login-form h1 {
    margin-bottom: 40px;
}
.input-box.opn .toggle-password{
    background-image: url(../images/pw-2.svg);
}
.input-box.opn .toggle-password.show{
    background-image: url(../images/pw.svg);
}